#root {
  max-width: 95vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
}

header {
  text-align: center;
}